.slideBar{
    padding-left: 0px;
    padding-right: 0px;
}

.centerAlign{
    text-align: center !important;
    text-decoration: underline;
    text-underline-position: under
}

.filterButton{
    width: 40%;
    margin: 5%;
    background: #b6dd7a;
    border: none;
    border-radius: 5px;
}

.buttonCenter{
    padding-left: 0px;
    padding-right: 0px;
}

.selectedOption{
    background: limegreen;
}

